div.tooltip {
    position: absolute;
    text-align: center;
    color: black;
    width: 200px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: forestgreen;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

div.info {
    position: absolute;
    text-align: center;
    color: black;
    width: 200px;
    height: 50px;
    padding: 2px;
    font: 12px sans-serif;
    background: forestgreen;
    opacity: 0.5;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}

circle {
    position: absolute;
    fill:forestgreen;
    opacity: 0.5;
}

select {
    position: absolute;
    fill:forestgreen;
    opacity: 1;
}

h1 {
    font: 24px sans-serif;
    display:block;
    color: forestgreen;
}